html {
  @apply bg-gray-100;
}

h4 {
  @apply text-2xl;
  @apply text-pink-700;
  @apply font-normal;
}

ul > li {
  list-style: disc;
  @apply mx-8;
  @apply my-4;
}

code.language-text {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}